html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

ul {
  list-style: none;
}

/*共通*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", "游ゴシック", YuGothic, "メイリオ", Verdana,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.75;
  color: #333;
  background-color: #f2f5f7;
}

img {
  vertical-align: top;
}

#news {
  background-color: #fff;
}

.logo a {
  text-decoration: none;
  color: #191970;
}

.pc-nav {
  display: none;
}

.sp-nav {
  display: none;
  position: absolute;
  top: 6rem;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 4rem;
  font-size: 2.4rem;
  text-align: center;
  background-color: #191970;
  box-sizing: border-box;
  opacity: 97%;
}

.sp-nav a {
  text-decoration: none;
  color: #fff;
}

.sp-nav li {
  margin: 3rem 0;
}

.sp-nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin-bottom: 4rem;
  }
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #191970;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 6rem;
  padding: 0 0 0 2rem;
  box-sizing: border-box;
  background-color: #fff;
}

header h2 {
  font-size: 2.3rem;
}

.main-visual {
  position: relative;
}

.cover-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-align: center;
  color: #191970;
}

.cover-ttl h2 {
  font-size: 4rem;
}

.sec-ttl {
  font-size: 2.5rem;
  padding: 5rem 0 3rem 0;
  color: #191970;
  text-align: center;
}

.wrapper {
  margin: 3rem 0;
}

#about {
  background-color: #fff;
}

.about-ttl {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.about-container img {
  width: 100%;
  height: auto;
}

.txt {
  text-align: center;
  padding: 0 1rem 2rem 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.fb-page {
  max-width: 100%;
}

#news {
  padding-bottom: 2rem;
}

.news-list {
  margin: 0 auto 2rem;
  padding: 0 4rem;
}

.news-list li {
  border-bottom: 1px solid #000;
  padding: 1rem;
  text-align: center;
}

.news-list li:first-child {
  border-top: 1px solid #000;
}

.news-list-date {
  display: block;
  color: #777;
  font-size: 1.4rem;
  font-weight: 300;
}

.button-wrap {
  margin: 5rem 0;
  text-align: center;
}

.button {
  padding: 1.5rem 2rem;
  border: 1px solid #cccccc;
  background-color: #fff;
  font-weight: 100;
  text-decoration: none;
  color: #333;
}

.service-item {
  margin-bottom: 2rem;
}

.service-item h3 {
  font-size: 1.8rem;
}

.service-item img {
  width: 100%;
  height: auto;
}

.service-body {
  background-color: #fff;
}

.service-ttl {
  padding: 1rem;
}

.service-txt {
  padding: 0 1rem 2rem 1rem;
}

.recruit-contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.recruit-info,
.company-info {
  margin-bottom: 2rem;
}

.sns-container {
  display: flex;
  flex-direction: column;
}

.sns-item {
  margin-bottom: 2rem;
}

.contact-form {
  margin-bottom: 5rem;
}

footer {
  background-color: #191970;
  color: #fff;
  width: 100%;
}

.copyright {
  text-align: center;
  padding: 1rem 0;
}

small {
  font-size: 1rem;
}

.footer-logo a {
  color: #fff;
  text-decoration: none;
}

.footer-body {
  text-align: center;
  padding-top: 2rem;
}

/*contact ---------------------------------------------------------------------- */

#contact {
  margin-top: 5em;
}

.contact-info {
  text-align: center;
}

.button-wrap input {
  background-color: #3a5a81;
  color: #fff;
  border: 0;
  font-weight: 100;
  border-radius: 200px;
}

input {
  width: 80%;
  height: 4rem;
}

textarea {
  width: 80%;
  height: 20rem;
}

input,
textarea {
  max-width: 800px;
  background-color: #fff;
  border: 1px solid #cccccc;
}

.contact-submit {
  width: 12rem;
  height: 5rem;
  margin: 1rem 0;
}

#contact p {
  margin: 1rem 0;
}

/*hover ---------------------------------------------------------------------- */

.contact-submit:hover {
  cursor: pointer;
  opacity: 90%;
}

.pc-nav-list a:hover {
  cursor: pointer;
  opacity: 80%;
}

.recruit-contents img:hover {
  cursor: pointer;
  opacity: 80%;
}

.contact-info img:hover {
  cursor: pointer;
  opacity: 80%;
}

.button:hover {
  cursor: pointer;
  opacity: 80%;
}

/* PC表示 ---------------------------------------------------------------------- */

@media (min-width: 769px) {
  .sp-nav {
    display: none;
  }

  .pc-nav {
    display: block;
  }

  .pc-nav a {
    text-decoration: none;
    color: #191970;
    padding: 0 2rem;
  }

  .pc-nav-list {
    display: flex;
  }

  .nav-button {
    display: none;
  }

  .sec-ttl,
  .txt {
    padding-left: 10%;
  }

  .sec-ttl {
    font-size: 5rem;
    text-align: left;
  }

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 112rem;
    justify-content: center;
  }

  .txt {
    text-align: left;
    margin-right: 2rem;
  }

  .about-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-container img {
    max-width: 50%;
    height: auto;
  }

  .service-item {
    width: 45%;
    padding: 1rem;
  }

  .recruit-contents {
    flex-direction: row;
  }

  .news-list {
    max-width: 70rem;
  }

  .sns-container {
    justify-content: center;
    flex-direction: row;
  }

  .sns-item {
    padding: 1rem;
    width: 34rem;
  }

  .contact-info img {
    width: 60%;
  }
}
