html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[ttl],
dfn[ttl] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

ul {
  list-style: none;
}

/*共通*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2;
  color: #333;
  font-family: "Noto Sans JP", "游ゴシック", YuGothic, "メイリオ", Verdana,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif";
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #333;
}
a:visited {
  color: inherit;
}

/*プロフィール*/
.profile h1 {
  font-size: 2.6rem;
  text-align: center;
  margin: 10rem 0;
  font-weight: lighter;
  letter-spacing: 4rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
}

.profile img {
  width: 100%;
}

.txt-wrapper {
  margin: 0 2rem;
}

.contents {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 65rem;
  margin-bottom: 6rem;
  align-items: center;
}

.profile-about {
  line-height: 3;
  font-weight: 300;
}

.profile-about li {
  padding: 0.5rem 0;
}

.pre rofile-about p {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
}

.name {
  font-size: 2rem;
}

.myphoto {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  margin-left: 6rem;
}

.profile-sns a {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  text-align: center;
  line-height: 1.1;
  color: #333;
  border-radius: 50%;
}

.about p {
  max-width: 112rem;
  margin: 0 auto;
}

.about {
  margin-bottom: 5rem;
}

/*nav*/

.sp-nav {
  display: none;
}

.nav-button {
  display: none;
}

.pc-nav-list {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 2rem 0 0;
}

.pc-nav-list li {
  margin: 0 2rem;
  font-size: 1.4rem;
  font-weight: 100;
}

/*見出し*/
.ttl {
  text-align: center;
  padding: 12rem 0 5rem 0;
  font-size: 5rem;
  font-weight: 300;
  color: #000;
}

.ttl-footer {
  text-align: center;
}

/*skills*/

.skills {
  margin-bottom: 5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 4%;
  text-align: left;
  max-width: 112rem;
  height: auto;
}

.skills-box-heading {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0 2rem 0;
  color: #000;
}

.uppercase {
  font-weight: 300;
  font-size: 3rem;
}

.skills-box {
  width: calc(33% - 3px);
  box-sizing: border-box;
  margin-right: 2rem;
  box-sizing: border-box;
  box-shadow: -12px 10px 12px rgb(0 0 0 / 15%);
  padding: 1rem;
  font-size: 1.6rem;
}

.skills-box:nth-child(3) {
  margin-right: 0;
}

/*works*/

.works {
  margin-bottom: 5rem;
}

.works-contents {
  display: flex;
  flex-direction: column;
  margin: 0 4%;
}

.works-contents a {
  text-align: center;
}

.works-ttl {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 5rem;
  font-weight: 100;
}

.works-contents img {
  width: 100%;
  border: 1px solid #efefef;
  max-width: 112rem;
}

.works-contents a:first-child {
  margin-bottom: 2rem;
}

.works-contents2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 112rem;
  padding: 0 4%;
}

.works-contents2 img {
  max-width: 100%;
  border: 1px solid #efefef;
}

.works-contents2 img {
  width: 33%;
}

.works-heading {
  margin: 0 auto 10rem;
  text-align: center;
  border: 1px solid #000;
  padding: 2rem;
}

.works-heading a {
  text-decoration: underline;
}

.works-heading h2,
.works-heading p {
  margin: 1rem 0;
}

.works-contents-sub {
  display: flex;
  flex-direction: column;
  margin: 0 auto 6rem;
}

.works-item {
  display: flex;
  flex-direction: row;
  margin: 0 auto 2rem;
  align-items: center;
  text-align: center;
  max-width: 112rem;
}

.works-txt {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.works-txt h2 {
  padding-left: 2rem;
}

.works-txt li {
  margin: 2rem;
}

.link-box {
  text-align: right;
  max-width: 112rem;
  margin: 0 auto 5rem;
  padding: 0 4%;
}

.more {
  display: block;
  color: #333;
}

.contact {
  margin: 0 auto;
  padding: 0 4%;
  max-width: 96rem;
}

.contact-info p {
  margin-top: 1.5rem;
}

.contact-info p:first-child {
  margin-top: 0;
}

.contact-info input,
textarea {
  width: 100%;
  padding: 1.5rem;
}

.contact-button {
  text-align: center;
  margin: 5rem 0 10rem 0;
}

.contact-button input {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  width: 20rem;
  padding: 1.5rem;
}

/*フッター*/

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer-nav-list {
  display: flex;
  justify-content: flex-start;

  margin: 3rem 3rem 0 3rem;
}

.footer-nav-list li {
  margin: 0 2rem 0 2rem;
  font-size: 1.4rem;
  color: #333;
  font-weight: 100;
}

.footer-sns {
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}

.footer-sns li {
  display: inline-block;
}

.footer-sns a {
  display: block;
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
  line-height: 1.1;
  color: #333;
  border-radius: 50%;
}

/* hover */
.pc-nav-list a:hover {
  transition: all 0.5s;
  border-bottom: 1px solid #000;
  color: #000;
}

.works-heading a:hover {
  color: #f03;
}

.works img:hover {
  cursor: pointer;
  opacity: 85%;
  transition: all 0.5s;
}

.more:hover {
  cursor: pointer;
  transition: all 0.5s;
  color: #000;
}

.footer-sns a:hover {
  color: #fff;
  background-color: #000;
}

.footer-nav-list a:hover {
  transition: all 0.5s;
  color: #000;
  border-bottom: 1px solid #000;
}

.contact-button input:hover {
  opacity: 80%;
  transition: all 0.5s;
  cursor: pointer;
}

/* worksページ */
.works-txt {
  max-width: 112rem;
  margin: 0 auto;
  padding: 2rem 0 4rem;
}

.works-txt h2 {
  font-size: 2.5rem;
}

.contact-button-wrap {
  text-align: center;
  margin-top: 4rem;
}

.button {
  padding: 2rem 3rem;
  background-color: #fff;
  border: 1px solid #cccccc;
  color: #cccccc;
}

.button-wrap {
  text-align: center;
  margin-top: 4rem;
}

.button:hover {
  cursor: pointer;
  transition: all 0.5s;
  border: 1px solid #333;
  color: #333;
}

/* SP表示 768px以下 */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  header {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    align-items: center;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(3px);
    height: 6rem;
  }

  /*SPナビゲーション*/
  .pc-nav {
    display: none;
  }

  .sp-nav {
    position: absolute;
    top: 6rem;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 4rem;
    font-size: 2.4rem;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    opacity: 90%;
  }

  .sp-nav li {
    margin-bottom: 2rem;
  }

  .nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    cursor: pointer;
    opacity: 30%;
  }

  .profile h1 {
    font-size: 2.3rem;
    font-weight: 100;
    margin: 10rem 0 10rem 0;
    letter-spacing: 1.4rem;
  }

  .about {
    margin: 0 2rem 0 2rem;
  }

  .about p {
    font-size: 1.6rem;
    line-height: 2;
  }

  .contents {
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .profile-about {
    margin: 0 auto;
    font-size: 1.5rem;
  }

  .myphoto {
    margin: 0 auto;
    width: 18rem;
    height: 18rem;
    margin-top: 2rem;
  }

  .contents p {
    text-align: center;
    font-size: 1.8rem;
    margin: 2rem 0;
  }

  .profile-sns a {
    font-size: 1.5rem;
    margin: 0;
  }

  .ttl {
    font-size: 4rem;
    padding-top: 8rem;
    padding-bottom: 0;
  }

  .nav-list {
    display: none;
  }

  .nav-button {
    font-size: 3rem;
  }

  .container {
    flex-direction: column;
  }

  .uppercase {
    font-size: 1.5rem;
  }

  .skills-box {
    margin: 2rem;
    width: 90%;
  }

  .skills-box-heading {
    margin: 2rem;
    font-size: 3rem;
  }

  .uppercase {
    font-size: 2.5rem;
  }

  .skills {
    padding: 0;
    font-size: 1.5rem;
    line-height: 2;
    margin-bottom: 0;
  }

  .works {
    margin-bottom: 0;
  }

  .works-contents {
    flex-direction: column;
    margin: 0 2rem;
  }

  .works-contents img {
    width: 100%;
  }

  .works-contents2 {
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
  }

  .works-contents2 img {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .works-contents-sub {
    margin: 0 2rem;
  }

  .works-heading {
    margin-bottom: 4rem;
  }

  .works-heading h2 {
    text-align: center;
    padding: 2rem 0;
  }

  .works-item {
    flex-direction: column;
  }

  .contact-info {
    margin: 0 2rem;
    max-width: 80%;
  }

  .contact-button {
    margin-bottom: 6rem;
  }

  .footer-nav {
    flex-direction: column;
  }

  .footer-nav-list {
    margin: 0;
  }

  .footer-nav-list li {
    margin: 0;
    display: none;
  }

  .footer-sns {
    margin: 4rem auto;
  }

  .footer-sns a {
    font-size: 3rem;
    margin: 1rem;
    padding: 2rem;
  }

  .footer-sns a {
    pointer-events: none;
  }
}
